/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$sunlit_sea: #CFF09E;
$sea_foaming: #A8DBA8;
$green_sea: #79BD9A;
$sail: #3B8686;
$adrift: #0B486B;

#validation_error_wrapper {
  width: 90%;
  float: none;
  border: hidden 0;
  padding: 0em 0em .25em .25em;
  margin: 0 auto;
}

.validation_error {
  text-indent: 1em;
  line-height: 25pt;
  border: thin solid darkred;
  border-radius: 10px 10px 10px 10px;
  background-color: lightcoral;
  text-align: center;
  color: darkred;
  margin-top: 15px;
}

#flash_alert_wrapper {
  width: 90%;
  float: none;
  border: hidden 0;
  padding: 0em 0em .25em .25em;
  margin: 0 auto;
}

.alert-success {
  text-indent: 1em;
  line-height: 25pt;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 15px;
  background-color: lightgreen;
  border: thin solid darkgreen;
  color: darkgreen;
}

.alert-error {
  text-indent: 1em;
  line-height: 25pt;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 15px;
  background-color: lightcoral;
  border: thin solid darkred;
  color: darkred;
}

#content {
  padding-left: 1em;
  text-align: center;
  color: $green_sea;
  img {
    background-color: $adrift;
  }
  a {
    color: $sail;
    text-decoration: none;
  }
}

#list_content {
  width: 98%;
  min-height: 2em;
  margin: .5em;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  tr {
    width: 100%;
  }
  .odd {
    color: $sail;
    background-color: $sunlit_sea;
  }
  .even {
    color: $sunlit_sea;
    background-color: $green_sea;

  }
  td {
    width: 15%;
  }
  a {
    text-decoration: none;
  }
  h1 {
    color: $adrift;
  }
  h2 {
  }
  a, h1, h2, p, {
    margin: 0;
    display: inline-block;
  }
}